<section class="my-recipe-container">
<div class="top">
<h1>Retrouver ici toutes <span>vos</span> recettes</h1>
	<a class="addOneRecipe" href="/addOneRecipe">Ajouter une recette</a>


</div>

{% for recipe in user.recipeCollection %}
    
{% endfor %}




</section>