@charset "UTF-8";
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

.button-model, .addRecipe, .logout, .signup, .login {
  padding: 10px 35px 25px 35px;
  height: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
  font-family: "Quicksand";
  font-size: 1.3rem;
  transition: background-color 0.4s ease;
  border-bottom: 4px solid black;
}

body {
  background-color: #FEF7E6;
  margin: 30px 40px 40px 40px;
}

.top-main-page {
  display: flex;
  justify-content: space-between;
}

.title-container {
  position: relative;
  display: flex;
  width: 220px;
  height: 135px;
}
.title-container h1 {
  color: #F15B3F;
  margin: 0;
  font-size: 3.5em;
  font-family: "Quicksand";
}
.title-container img {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(10deg);
  width: 60px;
  height: 60px;
}

.login-signup {
  padding-top: 25px;
  display: flex;
  gap: 23px;
}

.login {
  background-color: #FFD371;
  transition: 0.3s ease;
}

.signup {
  background-color: #FFD371;
  transition: 0.3s ease;
}

.signup:hover {
  background-color: #F15B3F;
  border-bottom: 2.5px solid black;
  transform: translateY(3px);
  color: #FEF7E6;
}

.login:hover {
  background-color: #F15B3F;
  border-bottom: 2.5px solid black;
  transform: translateY(3px);
  color: #FEF7E6;
}

.logout {
  background-color: #FFD371;
  transition: 0.3s ease;
}

.logout:hover {
  background-color: #F15B3F;
  border-bottom: 2.5px solid black;
  transform: translateY(3px);
  color: #FEF7E6;
}

.addRecipe {
  background-color: #FFD371;
  transition: 0.3s ease;
}

.addRecipe:hover {
  background-color: #F15B3F;
  border-bottom: 2.5px solid black;
  transform: translateY(3px);
  color: #FEF7E6;
}

.search-recipe-container {
  padding-top: 25px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.search-recipe-container form {
  display: flex;
}

.search-recipe {
  background-color: #FEF7E6;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px 0px 0px 50px;
  box-sizing: border-box;
  color: #F15B3F;
  font-family: "Quicksand";
  border: 1.5px solid #F15B3F;
  border-right: none;
}

.search-recipe:focus {
  outline: none;
}

.search-recipe::-moz-placeholder {
  color: #F15B3F;
  font-family: "Quicksand";
}

.search-recipe::placeholder {
  color: #F15B3F;
  font-family: "Quicksand";
}

.find {
  width: 155px;
  background-color: #F15B3F;
  color: #FEF7E6;
  font-family: "Quicksand";
  border: 1.5px solid #F15B3F;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.find:hover {
  background-color: #FFD371;
  color: black;
}

.recipes-container {
  margin-top: 55px;
  display: flex;
  border-radius: 25px;
  background-color: #F15B3F;
  padding: 1px 55px 1px 55px;
  flex-direction: column;
  border: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}

.h2-container {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  gap: 1rem;
  place-items: center start;
}
.h2-container h2 {
  align-items: start;
  font-size: 2rem;
  font-family: "Quicksand";
  color: #FEF7E6;
}
.h2-container h3 {
  font-size: 1.5rem;
  font-family: "Quicksand";
  color: #FEF7E6;
  text-wrap: nowrap;
  margin-top: 15px;
  margin-bottom: 35px;
}

.images-container-recipes {
  display: flex;
  padding: 0;
  gap: 1.5rem;
  margin: 10px 0px 50px 0px;
  position: relative;
  justify-content: center;
}
.images-container-recipes li {
  list-style-type: none;
  font-family: "Quicksand";
}
.images-container-recipes h3 {
  font-size: 1.3rem;
  font-family: "Quicksand";
  color: black;
  margin-top: 5px;
  padding-left: 5px;
}

.img-carrousel {
  width: 300px; /* Définit la largeur */
  height: 300px; /* Définit la hauteur */
  -o-object-fit: cover;
     object-fit: cover; /* Pour conserver les proportions de l'image */
  border-radius: 20px;
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #FEF7E6;
  position: relative;
}

.images-container-recipes li img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.foot-page {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.vignet {
  display: grid; /* Utilisez une disposition de type grille */
  grid-template-columns: auto 1fr; /* Colonne automatique pour le contenu à gauche, 1fr pour le contenu à droite */
  align-items: center; /* Centrez les éléments verticalement */
  background-color: #FEF7E6;
  border-radius: 20px;
  color: black;
  border: #FEF7E6;
  padding: 7px 7px 5px 7px;
  border-bottom: 4px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  position: relative; /* Ajoutez une position relative pour positionner la .like à l'intérieur de .vignet */
}

.vignet h3 {
  padding-top: 8px;
}

.ui-like {
  --icon-size: 24px;
  --icon-secondary-color: rgb(67, 66, 66);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: top;
}

.like::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  box-shadow: 0 30px 0 -4px var(--icon-primary-color), 30px 0 0 -4px var(--icon-primary-color), 0 -30px 0 -4px var(--icon-primary-color), -30px 0 0 -4px var(--icon-primary-color), -22px 22px 0 -4px var(--icon-primary-color), -22px -22px 0 -4px var(--icon-primary-color), 22px -22px 0 -4px var(--icon-primary-color), 22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */
.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  animation: like var(--icon-anmt-duration) forwards;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}
@keyframes like {
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes circles {
  from {
    transform: scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
.container-day {
  background-color: #FFD371;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
  width: 67%;
  border-radius: 20px;
  padding: 1px 55px 1px 55px;
  border: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
}

.day-recipe {
  display: flex;
}
.day-recipe h2 {
  align-items: start;
  font-size: 2rem;
  font-family: "Quicksand";
  color: black;
}

.images-container-day {
  display: flex;
  padding: 0;
  gap: 1rem;
}
.images-container-day li {
  list-style-type: none;
  font-family: "Quicksand";
}
.images-container-day h3 {
  font-size: 1.5rem;
  font-family: "Quicksand";
  color: black;
  padding-left: 10px;
}

.images-container-day li img:hover {
  transform: scale(1.04);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.day-img {
  width: 550px; /* Définit la largeur */
  height: 300px; /* Définit la hauteur */
  -o-object-fit: cover;
     object-fit: cover; /* Pour conserver les proportions de l'image */
  border-radius: 20px;
  transition: transform 0.4s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #FEF7E6;
}

.favoris {
  background-color: #F15B3F;
  padding: 0;
  gap: 0.4rem;
  width: 30%;
  border-radius: 20px;
  padding: 1px 55px 1px 55px;
  border: 2px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.fav-recipe-title {
  font-size: 1.9rem;
  font-family: "Quicksand";
  color: #FEF7E6;
}

.favorisText {
  padding-top: 25px;
  font-size: 1.5rem;
  font-family: "Quicksand";
  color: #FEF7E6;
}

.favColor {
  color: black;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #FEF7E6;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #F15B3F;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid black;
  border-right: 0.125rem solid black;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.55rem 0;
  margin: 0 0 0 1.85rem;
  color: #FEF7E6;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: 1.1rem;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: black;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: black;
}

.cssbuttons-io-button {
  background: #FFD371;
  color: black;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1.2rem;
  font-family: "Quicksand";
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #FFD371;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em transform scale(1.1) box-shadow 0 0 20px rgba(0, 0, 0, 0.5);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: transform scale(1.1) box-shadow 0 0 20px rgba(0, 0, 0, 0.5);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.favBtn {
  text-decoration: none;
}

@media only screen and (max-width: 1130px) {
  .title-container {
    width: 180px;
    height: 105px;
  }
  .title-container h1 {
    font-size: 3em;
  }
  .title-container img {
    width: 50px;
    height: 50px;
  }
  .top-main-page {
    flex-direction: column;
    align-items: center;
  }
  .login-signup {
    flex-direction: row;
    align-items: center;
  }
  .search-recipe-container {
    max-width: 80%;
  }
}
/* Pour les écrans jusqu'à 480 pixels de largeur */
@media only screen and (max-width: 480px) {
  .title-container {
    width: 150px;
    height: 90px;
  }
  .title-container h1 {
    font-size: 2.5em;
  }
  .title-container img {
    width: 40px;
    height: 40px;
  }
  .search-recipe-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 1130px) {
  .images-container-recipes li {
    flex-basis: calc(30% - 1rem); /* Pour les écrans très petits, ajustez la largeur à 50% moins un espace */
    max-width: calc(50% - 1rem);
  }
}
@media screen and (max-width: 768px) {
  .images-container-recipes {
    flex-direction: column; /* Affichage des images en colonnes sur les écrans plus petits */
    gap: 20px; /* Espacement entre les images */
  }
  .images-container-recipes li {
    flex-basis: 100%; /* Chaque élément occupe la pleine largeur de son conteneur */
    max-width: 100%; /* Ajuste également la largeur maximale */
  }
}
.headerContainer {
  background-color: #45a049;
}/*# sourceMappingURL=mainPage.css.map */