// Variable couleurs
$main-color: #e1822d;
$second-color: #047D5A;
$three-color: #A87D55;
$background-color: #FFE7C1;
$quickSandFont: "Quicksand";
$small-radius: 8px;
$big-radius: 20px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$hover: transform scale(1.1) box-shadow 0 0 20px rgba(0, 0, 0, 0.5);
