// Variable couleurs
$main-color: #F15B3F;
$second-color: #F15B3F;
$three-color: #FFD371;
$background-color:#FEF7E6;
$quickSandFont: "Quicksand";
$small-radius: 8px;
$big-radius: 20px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
$hover: transform scale(1.1) box-shadow 0 0 20px rgba(0, 0, 0, 0.5);
