
<div class="add-recipe-container">
    
	<h2 class="add-recipe-title">Modifier une recette ici.</h2>
	<form class="add-recipe-form" action="/update/{{recipe.id}}" method="POST" enctype="multipart/form-data">
        <a class="return"  href="/addRecipe"><img  class="returnImg" src="/images/back.png" alt=""></a>
		<div class="form-group">
			<label for="image" class="form-label">Photo de la recette :</label>
			<input type="file" id="photo" name="image" class="form-input">
		</div>
		<div class="form-group">
			<label for="recipeTitle" class="form-label">Titre de votre recette :</label>
			<textarea id="name" name="recipeTitle" rows="1" class="form-input" required></textarea>
		</div>
		<div class="form-group">
			<label for="duration" class="form-label">Durée de la recette :</label>
			<select id="duration" name="duration" class="form-input" required>
				<option value="-1">Moins de 1 heure</option>
				<option value="+1">Plus de 1 heure</option>
			</select>
		</div>
		<div class="form-group">
			<label for="difficulty" class="form-label">Difficulté :</label>
			<select id="difficulty" name="difficulty" class="form-input" required>
				<option value="facile">Facile</option>
				<option value="moyen">Moyen</option>
				<option value="difficile">Difficile</option>
			</select>
		</div>
		<div class="form-group">
			<label for="price" class="form-label">Prix :</label>
			<select id="price" name="price" class="form-input" required>
				<option value="bas">Bas</option>
				<option value="moyen">Moyen</option>
				<option value="élevé">Élevé</option>
			</select>
		</div>

		<div class="form-group">
			<label class="form-label">Ingredients :</label>
			<ul id="ingredient-list"></ul>
			<button type="button" id="add-ingredient-button" class="add-ingredient-button">Modifier un ingrédient +</button>
		</div>

		<div class="form-group">
			<label class="form-label">Étapes :</label>
			<ul id="steps-list"></ul>
			<button type="button" id="add-step-button" class="add-step-button">Modifier une étape +</button>
		</div>

		<button type="submit" class="add-recipe-button">Modifier la recette</button>
	</form>
</div>
