<section class="main-container">

	<img login="lazy" class="image" src="/images/framboisier.webp" alt="">


	<section class="registrationForm">
		<form action="/login" method="post">
			<h1 class="subscribe">Se connecter</h1>


			<div class="inputGroup">

				<input id="email" name="email" placeholder="Votre mail." type="mail" required>
				{% if error %}
					<p class="error">{{error.errors.email.message}}</p>
				{% endif %}
			</div>

			<label class="password-label" for="password">
				<div class="inputGroup">

					<input id="password" name="password" placeholder="Mot de passe." type="password" required>
					{% if error %}
						<p class="error">{{error.errors.password.message}}</p>
					{% endif %}
				</div>
				<div class="password-icons">
					<i data-feather="eye"></i>
					<i data-feather="eye-off"></i>
				</div>
			</label>

			<script src="https://unpkg.com/feather-icons"></script>
			<script>
				feather.replace();
			</script>

			<div class="sendForm">
				<div class="submitGroup">
					<button>Connecter</button>
				</div>

				<div class="redirect">
					<a href="/subscribe">S'inscrire ici
					</a>
				</div>
			</div>
			<a class="return" href="/MainPage"><img class="returnImg" src="/images/back.png" alt=""></a>


		</form>
	</section>

</section>
