<div class="add-recipe-container">

	<form class="add-recipe-form" action="/addOneRecipe" method="POST" enctype="multipart/form-data">
		<h2 class="add-recipe-title">Ajouter une recette ici.</h2>
		<a class="return" href="/addRecipe"><img class="returnImg" src="/images/back.png" alt=""></a>
		<div class="form-group">
			<label for="image" class="form-label">Photo de la recette :</label>
			<input type="file" id="photo" name="image" class="form-input">
		</div>

		<div class="form-group">
			<div class="form-control">
				<input type="text" required="true" name="recipeTitle">
				<label>
					<span style="transition-delay:0ms">T</span>
					<span style="transition-delay:50ms">i</span>
					<span style="transition-delay:100ms">t</span>
					<span style="transition-delay:150ms">r</span>
					<span style="transition-delay:200ms">e</span>
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="duration" class="form-label">Durée de la recette :</label>
			<select id="duration" name="duration" class="form-input" required>
				<option value="-1">Moins de 1 heure</option>
				<option value="+1">Plus de 1 heure</option>
			</select>
		</div>
		<div class="form-group">
			<label for="difficulty" class="form-label">Difficulté :</label>
			<select id="difficulty" name="difficulty" class="form-input" required>
				<option value="facile">Facile</option>
				<option value="moyen">Moyenne</option>
				<option value="difficile">Difficile</option>
			</select>
		</div>
		<div class="form-group">
			<label for="price" class="form-label">Prix :</label>
			<select id="price" name="price" class="form-input" required>
				<option value="bas">Bas</option>
				<option value="moyen">Moyen</option>
				<option value="élevé">Élevé</option>
			</select>
		</div>

		<div class="form-group">
			<label class="form-label">Ingrédients :</label>
			<ul id="ingredient-list"></ul>
			<button type="button" id="add-ingredient-button" class="add-ingredient-button">Ajouter un ingrédient +</button>
          <select id="form" name="form" class="form-input" required>
				<option value="cl">CL</option>
				<option value="gr">GR</option>
				<option value="pincée">pincée</option>
			</select>
		</div>

		<div class="form-group">
			<label class="form-label">Étapes :</label>
			<ul id="steps-list"></ul>
			<button type="button" id="add-step-button" class="add-step-button">Ajouter une étape +</button>
		</div>

		<button type="submit" class="add-recipe-button">Ajouter une recette</button>
	</form>
</div>
